<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<body>
		<div class="container">

			<div class="row textos">
				<div class="col-md-12">
					<h1 class="primerlinea">TU NÚMERO DE BOLETO ES:</h1>
				<div>
					<img class="imgn"src="/imgn/{{regalo1}}.png">
					<img class="imgn"src="/imgn/{{regalo2}}.png">
					<img class="imgn"src="/imgn/{{regalo3}}.png">
					<img class="imgn"src="/imgn/{{regalo4}}.png">
					<img class="imgn"src="/imgn/{{regalo5}}.png">
				</div>	

					<div class="contenedor-btns">
						<a href="/">Regresar</a>
					</div>
				</div>
			</div>
		</div>
</body>
